.card {
    border-radius: 0.5rem;
    background-color: white;
}

.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}


/* .no_image {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
} */

.card_body {
    padding: 1rem;
}

.card_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.card_description {
    margin-bottom: 2rem;
    line-height: 1.5;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: #eef;
    color: #336;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 20px;
}


.html {
    background-color: rgb(0, 177, 0);
    color: white;
}

.css {
    background-color: rgb(240, 133, 151);
    color: white;
}

.js {
    background-color: rgb(255, 255, 0);
    color: black;
}

.php {
    background-color: purple;
    color: white;
}

.react {
    background-color: rgb(201, 201, 201);
    color: white;

}